.d-flex
	//- navigation
	include nav.pug
	//- content
	.content
		.container
			section.intro
				div.d-flex
					img.intro__img(src="./images/logo-color.svg", alt="logo")
					span.intro__badge 1.0.1
				h2.intro__title A project management template for Bootstrap 4
				p.intro__paragraph Pipeline is a collection of modular components and layouts for building project management and collaboration web apps.
				div.d-flex
					div.dropdown
						a(href="#") Explore Pages
						ul.dropdown__list
							li.dropdown__item
								a.dropdown__link App Pages
							li.dropdown__item
								a.dropdown__link Utility Pages
					div.dropdown
						a(href="#") View Components
						ul.dropdown__list
							li.dropdown__item
								a.dropdown__link Bootstrap Components
							li.dropdown__item
								a.dropdown__link Pipeline Components
			section.pages
				.carousel
					p this carousel
				.d-flex
					i.pages__icon(class="fas fa-user-circle")
					h2.pages__title Project Management Pages
				p.pages__paragraph Pipeline makes building project management interfaces simple with pages for teams, projects, tasks, kanban boards and more.
				div.d-flex
					div.dropdown
						a(href="#") Explore Pages
						ul.dropdown__list
							li.dropdown__item
								a.dropdown__link App Pages
							li.dropdown__item
								a.dropdown__link Utility Pages
					div.dropdown
						a(href="#") View Components
						ul.dropdown__list
							li.dropdown__item
								a.dropdown__link Bootstrap Components
							li.dropdown__item
								a.dropdown__link Pipeline Components
			section.components
				.row
					.carousel
					p this carousel
					.carousel
					p this carousel
				.d-flex
					i.components__icon(class="fas fa-user-circle")
					h2.components__title Modular Components
				p.components__paragraph Build feature-rich pages with everything Bootstrap 4.1.3 has to offer and extend functionality with Pipeline's suite of stylish custom components.
				div.d-flex
					a(href="#") Pipeline Components
					a(href="#") Bootstrap Components
			section.layouts
				.row
					.col-4
						img(src="./images/layout-nav-side.svg", alt="layout")
					.col-4
						img(src="./images/layout-nav-top-sidebar.svg", alt="layout")
					.col-4
						img(src="./images/layout-nav-top.svg", alt="layout")
				.d-flex
					i.layouts__icon(class="fas fa-user-circle")
					h2.layouts__title Flexible Layouts
				p.layouts__paragraph Pipeline offers three distinct layouts to suit a variety of content types. Layouts are fully responsive and scale elegantally for different devices and screen sizes.
				div.d-flex
					a(href="#") Explore Layouts
			section.tooling
				.row
					.col-3
						img(src="./images/layout-nav-side.svg", alt="layout")
					.col-3
						img(src="./images/layout-nav-top-sidebar.svg", alt="layout")
					.col-3
						img(src="./images/layout-nav-top.svg", alt="layout")
					.col-3
						img(src="./images/layout-nav-top.svg", alt="layout")
				.d-flex
					i.tooling__icon(class="fas fa-user-circle")
					h2.tooling__title Familiar Tooling
				p.tooling__paragraph Pipeline employs industry-standard development tools with an intuitive workflow designed to get you up and runnning faster.
				div.d-flex
					a(href="#") View Documentation
